{% extends "agentBase.html" %}

{% block title %}
Cancel Flight 
{% endblock %}

{% block heading %}
Cancel Flight
{% endblock %}


{% block content %}

{% if message %}
   <h3> {{ message }}</h3>
{% endif %}

{% if form %}
<form action="{{url_for('cancelFlight')}}" class="form-inline" method="POST" style="padding:5px;">
    <!-- Full Name Field -->
    <div class="required">
    {{ form.flight_number.label }}: <br>
    {{ form.flight_number }}
    </div>
    <br>
    {% if form.flight_number.errors %}
        {% for error in form.flight_number.errors %}
        <b style="color:tomato;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}

    <div class="required">
    {{ form.departure.label }}: <br>
    {{ form.departure }}
    </div>

    <br>
    {% if form.departure.errors %}
        {% for error in form.departure.errors %}
        <b style="color:tomato;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}

    <!-- Password Field -->
    <div class="required">
    {{ form.arrival.label }}: <br>
    {{ form.arrival }}
    </div>
    <br>
    {% if form.arrival.errors %}
        {% for error in form.arrival.errors %}
        <b style="color:white;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}

    <div class="submit">
    {{ form.csrf_token }}
    {{ form.submit }}
    </div>
</form> 
{% endif %}
{% endblock %}