{% extends "LoggedInBase.html" %}

{% block title %}
Cancel Booking
{% endblock %}

{% block heading %}
Cancel Booking
{% endblock %}


{% block content %}

{% if message %}
   <h3> {{ message }}</h3>
{% endif %}

{% if form %}
<form action="{{url_for('cancelBooking')}}" class="form-inline" method="POST" style="padding:5px;">
    <!-- Full Name Field -->
    <div class="required">
    {{ form.booking_id.label }}: <br>
    {{ form.booking_id }}
    </div>
    <br>
    {% if form.booking_id.errors %}
        {% for error in form.booking_id.errors %}
        <b style="color:tomato;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}

    <div class="required">
    {{ form.flight_number.label }}: <br>
    {{ form.flight_number }}
    </div>

    <br>
    {% if form.flight_number.errors %}
        {% for error in form.flight_number.errors %}
        <b style="color:tomato;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}

    <div class="submit">
    {{ form.csrf_token }}
    {{ form.submit }}
    </div>
</form> 
{% endif %}
{% endblock %}