{% extends "base.html" %}

{% block title %}
Sign-Up 
{% endblock %}

{% block heading %}
Sign Up
{% endblock %}


{% block content %}

{% if message %}
    {{ message }}
{% endif %}

{% if form %}
<form action="{{url_for('signup')}}"  method="POST" style="padding:5px;">
    <div class="form_basic">
    <!-- Full Name Field -->
    <div class ="required">
    {{ form.first_name.label }}: <br>
    {{ form.first_name }}
    </div>
    <br>
    {% if form.first_name.errors %}
        {% for error in form.first_name.errors %}
        <b style="color:tomato;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}

    <div class="required">
    {{ form.last_name.label }}: <br>
    {{ form.last_name }} 
    </div>
    <br>
    {% if form.last_name.errors %}
        {% for error in form.last_name.errors %}
        <b style="color:white;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}

    <!-- Email Field -->
    <div class="required">
    {{ form.email.label }}: <br>
    {{ form.email }}
    </div> 
    <br>
    {% if form.email.errors %}
        {% for error in form.email.errors %}
        <b style="color:white;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}

    <!-- Password Field -->
    <div class="required">
    {{ form.password.label }}: <br>
    {{ form.password }}
    </div>
    <br>
    {% if form.password.errors %}
        {% for error in form.password.errors %}
        <b style="color:white;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}

    <!-- Confirm Password Field -->
    <div class="required">
    {{ form.confirm_password.label }}: <br>
    {{ form.confirm_password }}
    </div>
    <br>
    {% if form.confirm_password.errors %}
        {% for error in form.confirm_password.errors %}
        <b style="color:white;"> {{ error }} </b>
        <br>
        {% endfor %}
    {% endif %}

    <!-- Gender Field -->
    <div class="required">
    {{ form.gender.label }}: <br>
    {{ form.gender }}
    </div>
    <br>
    {% if form.gender.errors %}
        {% for error in form.gender.errors %}
        <b style="color:white;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}

    <!-- Nationality Field -->
    <div class="required">
    {{ form.nationality.label }}: <br>
    {{ form.nationality }}
    </div>
    <br>
    {% if form.nationality.errors %}
        {% for error in form.nationality.errors %}
        <b style="color:tomato;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}

    <!-- Passport Number Field -->
    <div class="required">
    {{ form.passport_number.label }}: <br>
    {{ form.passport_number }}
    </div>
    <br>
    {% if form.passport_number.errors %}
        {% for error in form.passport_number.errors %}
        <b style="color:tomato;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}

    <!-- Phone Number Field -->
    <div class="required">
    {{ form.phone_number.label }}: <br>
    {{ form.phone_number }}
    </div>
    <br>
    {% if form.phone_number.errors %}
        {% for error in form.phone_number.errors %}
        <b style="color:tomato;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}

    <!-- Age Field -->
    <div class="required">
    {{ form.age.label }}: <br>
    {{ form.age }}
    </div>
    <br>
    {% if form.age.errors %}
        {% for error in form.age.errors %}
        <b style="color:tomato;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}

    <!-- Account number Field -->
    <div class="required">
    {{ form.account_no.label }}: <br>
    {{ form.account_no }}
    </div>
    <br>
    {% if form.account_no.errors %}
        {% for error in form.account_no.errors %}
        <b style="color:tomato;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}

    <div class="submit">
    {{ form.csrf_token }}
    {{ form.submit }}
    </div>
</div>
</form> 
{% endif %}
{% endblock %}